*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#header-nav{
	border-radius: 0px;
}
.navbar{
	margin-bottom: 0px;
}
.navbar-brand{
	padding: 8px 0 8px;
	
}
.navbar-brand h1{
	margin: 0;
}
.navbar-brand a{
	text-decoration: none;
	color: black;
}
.navbar-brand a:hover{
	color: grey;
}
#nav-list li{
	margin-right: 15px;
}
#nav-list h4{
	text-align: center;
}
#main-content{
	width: 100%;
	padding: 0;
}
.container .jumbotron {
    height: 500px;
	padding: 0;
	margin: 0;
	width: 100%;
	border-radius: 0px;
  }
  #fade{
	padding-top: 100px;
	padding-left: 40px;
	width: 100%;
	height: 500px;
	position: absolute;
	bottom: 78px;
	color: white;
	line-height: 2;
  }
  #fade button{
	border-radius: 0px;
	background-color: #966526d5;
	color:black;
	-webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  #fade button:hover{
	color: white;
	background-color: #dd891bd5;
  }
.container #sections{
	float:none;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
}
.section_li h4{
	padding-bottom: 15px;
}
#midsection{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#button{
	margin: 30px 0px;
	width:380px;
	height:50px;
	margin-right: auto;
	margin-left: auto;
}
#button .btn{
	color:#006eff;
	border: 1px solid #006eff;
	background-color: white;
	border-radius: 30px;
	-webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
#button .btn:hover{
	background-color: #006eff;
	color:#FFF;
}
#frame{
	position: relative;
	height: 300px;
}
#frame_p{
	width: 100%;
	position: absolute;
}
#frame_p h4{
	background-color: grey;
	min-height: 40px;
	float: none;
	margin: 0px auto;
	opacity: 0.8;
	color: #FFF;
	padding-top: 8px;
}
#mockup p{
	padding-top: 30px;
	font-size: 1.4em;
}
#mockup_img{
	background: url('../images/mockup1.png') no-repeat;
	float: none;
	height: 300px;
	margin: 0 auto;
	width: 800px;
}
 #socials{
	height:300px;
	width:350px;
	float: none;
	margin:0px auto;
}
#socials p{
	font-size: 20px;
	color:#FFF;
	margin-bottom: 0;
	padding-top: 15px;
}
.social_icon a {
    border: 1px solid #FFF;
    border-radius: 50%;
    color: #333333;
	background-color: #FFF;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin: 10px 4px 24px 6px;
}
.social_icon a:hover{
	background-color: #333333;
	color:#FFF;
}
footer{
	background: url('../images/wood.jpg') no-repeat;
}
#footer{
	float: none;
	margin: 0 auto;

}
footer>p{
	margin: 20px 0 30px;
	font-size: 1.2em;

}
footer p{
	color: white;
}
#copyright{
	font-size: .85em;
	margin-bottom: 0px;
}

#footer_links li{
	float: left;
	list-style: none;
	margin-top: 40px;
	
}
#footer_links li a{
	text-decoration: none;
}
#footer_links li:hover{
	border: 1px solid #333333;
}
form input, form button{
	width: 200px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
	border-radius: 0px;
	border: none;
}
#btn{
	border: 1px solid white;
	background: transparent;
	color:#FFF;
	width:100px;
	border-radius: 0px;
}
#btn:hover{
	background-color: #006eff;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  .menu{
	width: 30%;
}
	.menu:nth-child(2){
	margin: 0 3% 0 3%;
}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	.menu{
	width: 30%;
}
	.menu:nth-child(2){
	margin: 0 3% 0 3%;
}

}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	
	/* .menu:nth-child(2){
	margin-left: 2%;
}
	.menu:nth-child(2), .menu:nth-child(1){
		width: 49%;
	}
	#nav-list li{
		border-bottom: 2px solid black;
	}
	#nav-list li:nth-child(5){
		border-bottom: 0px;
	} */

}
@media (max-width: 767px) {
	
	#nav-list li{
		border-bottom: 2px solid black;
	}
}